<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="mt-4 container">
  <div>
    <canvas id="chart"
            data-controller="graph"
            data-graph-dates='<%= @dates.to_json.html_safe %>'
            data-graph-datasets='<%= @datasets.map { |d| { label: d[:identifier], data: d[:temps] } }.to_json.html_safe %>'
    ></canvas>
  </div>
</div>
