.matrix-container {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
}

.matrix {
    display: grid;
    text-align: center;
    width: 100%;
}

.matrix-label-bottom {
    transform: rotate(90deg);
}

.matrix-label {
    display: flex;
    padding-right: 5px;
    align-items: center;
    font-size: 11px;
    width: auto;
    height: auto;
}

.matrix-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    aspect-ratio: 1/1;
}

.matrix-legend {
    display: grid;
    grid-template-columns: max-content max-content;
    width: auto;
}

.matrix-legend-bar {
    width: 10px;
    height: 100%;
    background-image: linear-gradient(red, blue);
}

.matrix-legend-text-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    width: max-content;
}

.matrix-legend-text {
    width: max-content;
    display: flex;
    justify-content: right;
}
