<div id="<%= dom_id setting %>">
  <p>
    <strong>Start date:</strong>
    <%= setting.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= setting.end_date %>
  </p>

  <p>
    <strong>Data method:</strong>
    <%= setting.data_method %>
  </p>

</div>
