<p style="color: green"><%= notice %></p>

<h1>Settings</h1>

<div id="settings">
  <% @settings.each do |setting| %>
    <%= render setting %>
    <p>
      <%= link_to "Show this setting", setting %>
    </p>
  <% end %>
</div>

<%= link_to "New setting", new_setting_path %>
