<div id="<%= dom_id temperature %>">
  <p>
    <strong>Date:</strong>
    <%= temperature.date %>
  </p>

  <p>
    <strong>Temp min:</strong>
    <%= temperature.temp_min %>
  </p>

  <p>
    <strong>Temp max:</strong>
    <%= temperature.temp_max %>
  </p>

</div>
