<h1>Editing temperature</h1>

<%= render "form", temperature: @temperature %>

<br>

<div>
  <%= link_to "Show this temperature", @temperature %> |
  <%= link_to "Back to temperatures", temperatures_path %>
</div>
