<div class="p-4 matrix-container" id="matrix-container">
  <div></div>
  <div class="matrix" id="matrix"></div>
  <div class="matrix-legend" id="legend" style="visibility: hidden">
    <div class="matrix-legend-bar" id="legend-bar"></div>
    <div class="matrix-legend-text-grid" id="legend-text">
      <div class="matrix-legend-text" style="align-items: start;">
        <div>1</div>
      </div>
      <div class="matrix-legend-text" style="align-items: center;">
        <div>0</div>
      </div>
      <div class="matrix-legend-text" style="align-items: end;">
        <div>-1</div>
      </div>
    </div>
  </div>
  <div></div>
</div>