<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">
  <h4>This is a beautiful graph</h4>
  <div>
    <canvas id="chart"></canvas>
  </div>
</div>

<script>
  <% if @datasets and @dates %>
  var datasets = <%= @datasets.map { |d| { label: d.identifier, data: d.temps } }.to_json.html_safe %>
  var dates = <%= @dates.to_json.html_safe %>;

  new Chart(document.getElementById('chart'), {
      type: "line",
      data: {
          labels: dates,
          datasets: datasets
      }
  });
  <% end %>
</script>
