<div class="container">

  <img src="https://en.wikipedia.org/wiki/Gated_recurrent_unit#/media/File:Gated_Recurrent_Unit,_base_type.svg">

  <h3>RNN - Recurrent nural network</h3>

  <p>
    A recurrent neural network (RNN) is a type of neural network that is commonly used for processing sequential data,
    such as text or time series data. Unlike traditional neural networks, RNNs have loops that allow information to
    persist from one step of the network to the next, enabling them to model the temporal dependencies present in
    sequential data. This makes RNNs particularly useful for tasks such as language modeling, speech recognition, and
    image captioning. RNNs can also be trained to generate new sequences that resemble the original data, making them
    useful in generative applications. However, RNNs can suffer from the vanishing gradient problem, which limits their
    ability to capture long-term dependencies. To address this issue, variants of RNNs, such as
    the <%= link_to 'LSTM', '/lstm' %> and <%= link_to 'GRU', '/gru' %>, have
    been developed that incorporate gating mechanisms to selectively allow information to pass through the network,
    making them better suited for modeling long-term dependencies in sequential data.
  </p>
</div>