<div>
  <input type="text" class="form-control" placeholder="Search graph" id="graph-search" data-toggle="tooltip" data-placement="right" title="Search in the dataset shown in the graph e.g. 1/1/2001-1/1/2002">
</div>

<hr>

<div>
  <input type="date" class="form-control" placeholder="Predict temperature" id="prediction" data-toggle="tooltip" data-placement="right" title="Make a prediction of the temperature at a specific date">
</div>
