<div>
  <input type="text" class="form-control" placeholder="Search features" id="feature-search" data-toggle="tooltip" data-placement="right" title="Search the matrix for a specific feature">
</div>
