<div>
    <select class="form-select" aria-label="Default select">
        <option selected disabled hidden>Model</option>
        <% ["MLP", "GRU", "LSTM"].each do |option| %>
        <option value="<%= option %>"><%= option %></option>
        <% end %>
    </select>
</div>

<hr>

<div>
    <select class="form-select" aria-label="Default select">
        <option selected disabled hidden>Dataset split</option>
        <% ["70 / 20 / 10", "60 / 20 / 20"].each do |option| %>
        <option value="<%= option %>"><%= option %></option>
        <% end %>
    </select>
</div>

<hr>

<div>
    <input type="number" class="form-control" placeholder="Steps_in" id="steps_in">
    <input type="number" class="form-control" placeholder="Steps_out" id="steps_out">
    <input type="number" class="form-control" placeholder="Step size" id="step_size">
</div>

<hr>

<div>
    <input type="number" class="form-control" placeholder="Epochs" id="epochs">
    <input type="number" class="form-control" placeholder="Batch size" id="batch_size">
</div>

<hr>

<div class="btn-group">
    <button type="button" class="btn btn-success" disabled>Train</button>
    <button type="button" class="btn btn-success" id="apply-btn" disabled>Apply</button>
</div>


<script>
  const applyBtn = document.getElementById("apply-btn");
  const requiredFields = document.querySelectorAll("#steps_in, #steps_out, #step_size, #epochs, #batch_size");

  requiredFields.forEach((field) => {
    field.addEventListener("input", () => {
      const allFieldsHaveValue = Array.from(requiredFields).every((field) => field.value.trim() !== "");
      applyBtn.disabled = !allFieldsHaveValue;
    });
  });
</script>
