<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-sm-2">
            <%= render 'nn_model/side_bar' %>
        </div>
        <div class="col">
            <%= render 'nn_model/temperature_graph' %>
        </div>
    </div>
    <div class="progress" style="height: 10px">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>
</div>
