<div class="container-flex overflow-hidden">
    <div class="row flex-nowrap">
        <div class="col-sm-2 col-md-2 sidebar">
            <%= render 'nn_model/sidebar' %>
        </div>
        <div class="col-sm-10 col-md-10">
            <%= render 'nn_model/temperature_graph' %>
        </div>
    </div>
  </div>
</div>
