<% settings = Setting.where(user_id: current_user.id) %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render 'user/profile' %>
    </div>

    <div class="col-md-8">
      <div class="mt-4">

        <div class="my-2 row">
          <div class="col">
            <h4>Configurations: <%= settings.size %> of 10</h4>
          </div>

          <div class="col d-flex justify-content-end">
            <% if settings.size < 10 %>
              <%= link_to 'Create new configuration', new_setting_path, class: 'btn btn-primary' %>
            <% else %>
              <button class="btn btn-primary" disabled>Create new configuration</button>
            <% end %>
          </div>
        </div>

        <div class="ms-2" style="max-height: 82vh; overflow-y: auto">
          <% if settings.any? %>
            <% settings.each do |setting| %>

              <%= render 'user/setting_card', setting: setting %>

            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
