<div data-controller="heatmap--featurematrix" data-heatmap--featurematrix-features='<%= @features %>'>
  <div class="form-control form-control-inline text-center">
    <label class="form-control-label" for="matrixSearch">Matrix Search</label>
    <input class="form-control-input" id="matrixSearch" type="number" autocomplete="off" placeholder="Enter a number (e.g. 0.5)" data-action="keyup->heatmap--featurematrix#searchMatrix">
    <button class="btn btn-primary btn-sm" data-action="heatmap--featurematrix#clearLowlights">Reset</button>
  </div>
  <div class="p-4 matrix-container" id="matrix-container">
    <div></div>
    <div class="matrix" id="matrix"></div>
    <div class="matrix-legend" id="legend" style="visibility: hidden">
      <div class="bar" id="legend-bar"></div>
      <div class="text-grid" id="legend-text">
        <div class="text" style="align-items: start;">
          <div>1</div>
        </div>
        <div class="text" style="align-items: center;">
          <div>0</div>
        </div>
        <div class="text" style="align-items: end;">
          <div>-1</div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>